/* eslint-disable */
@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
/* eslint-enable */

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-image: url('/mainbg.png'); /* Ensure this path is correct */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: white;
  font-family: 'Nosifer', sans-serif;
}

/* Ensure all text uses the Nosifer font */
* {
  font-family: 'Nosifer', sans-serif !important; /* Use Nosifer as a regular font */
}

@media (max-width: 640px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 1025px) {
  html {
    font-size: 18px;
  }
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

.text-shadow-custom {
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.nosifer-regular {
  font-family: "Nosifer", sans-serif;
  font-weight: 400;
  font-style: normal;
}
